#Cache folders
.vscode/
__pycache__/

#Extensions
*.zip
*.png
*.jpg
*.cp311-win_amd64.*
*.obj

#Environments
.env
venv/
.venv/

#Datasets
Python/cool-python-stuff/movie-recommender/ml-100k/*
Python/cool-python-stuff/data/*
Python/cool-python-stuff/svm/img-classification/images/
Python/mini-projects/expense-tracker/
Python/cool-python-stuff/nltk-nlp/NLP-Live-main/*
Python/PyTorch/bean-leaf-lesion-pretrained/bean-leaf-lesions-classification/*

.jupyter/*
Python/mini-projects/hack4delhi/delhi_water_logging_areas.csv
