#Cache folders
.vscode/
__pycache__/

#Extensions
*.zip
*.png
*.jpg
*.cp311-win_amd64.*
*.obj
*.csv

#Environments
.env
venv/
.venv/

.jupyter/*

#Extras
HTML-CSS/
mini-projects/expense-tracker/
mini-projects/LifeBot/
misc-python/pylint_report.txt

#Datasets
misc-python/movie-recommender/ml-100k/*
misc-python/data/*
misc-python/svm/img-classification/images/
misc-python/nltk-nlp/NLP-Live-main/*
PyTorch/bean-leaf-lesion-pretrained/bean-leaf-lesions-classification/*
mini-projects/hack4delhi/*.geojson
mini-projects/hack4delhi/*.html
mini-projects/kdsh/Kdsh/books/*.txt
misc-python/nltk-nlp/*.txt

#DSA
some-dsa-things/*
